* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  background: #ffffff;
  font-family: "Satoshi", sans-serif;
  color: #303030;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
